<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/adminIndex.css">

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <div class = "box header-box">
        <div class = "main-heading">Patient</div>
    </div>

    <div class = "order order-header">
        <div class="order-details">
            <span class = "order-field">Username</span>
        </div>

        <div class="order-details">
            <span class = "order-field">Phone Number</span>
        </div>

        <div class="order-details">
            <span class = "order-field">Email</span>
        </div>
    </div>

    <% notificationPatientList.forEach(patient => { %>
        <div class = "order">
            <div class="order-details number">
                <span class = "order-field"><%= patient.username %></span>
            </div>

            <div class="order-details number">
                <span class = "order-field"><%= patient.phoneNumber %></span>
            </div>

            <div class="order-details number">
                <span class = "order-field"><%= patient.email %></span>
            </div>
        </div>
    <% }) %>

    <div class = "box header-box">
        <div class = "main-heading">Doctor</div>
    </div>

    <div class = "order order-header">
        <div class="order-details">
            <span class = "order-field">Username</span>
        </div>

        <div class="order-details">
            <span class = "order-field">Phone Number</span>
        </div>

        <div class="order-details">
            <span class = "order-field">Email</span>
        </div>
    </div>

    <% notificationDoctorList.forEach(doctor => { %>
        <div class = "order">
            <div class="order-details number">
                <span class = "order-field"><%= doctor.username %></span>
            </div>

            <div class="order-details number">
                <span class = "order-field"><%= doctor.phoneNumber %></span>
            </div>

            <div class="order-details number">
                <span class = "order-field"><%= doctor.email %></span>
            </div>
        </div>
    <% }) %>
</div>

<%- include("../partials/footer"); %>